<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>TeamList</title>
</head>
<body>
<div th:each="team : ${teamList}">
    <div th:onclick="|location.href='@{/team/{teamId}(teamId=${team.teamId})}'|" style="cursor:pointer; border:1px solid black; width:200px; margin:10px; padding:10px;">
        <div th:text="${team.teamName}"/>
    </div>
</div>
<duv>
    <button th:onclick="|location.href='@{/team}'|">팀 생성</button>
</duv>
<div th:text="${teamList}"></div>
</body>
</html>